body{
    text-align: center;
    background: blue;
}
header{
    background: chocolate;
    padding: 1px 1px ;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}
main{
    background-color: aqua;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: relative;
    top: -30px;
}
    
.lista-challenge{
    padding-bottom: 10px;
}
a{
    text-decoration: none;
}
.lista{
    display: flex;
}

.lista-cursos{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.lista-cursos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
}
li img{
    width: 55px;
    height: 55px;
}
.icon-link{
    
}
footer{
    background-color: darkgoldenrod;
}
